@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }

body {
  background-color: #383737;
  width: 100%; }
  body header {
    margin: 3% 0;
    justify-content: center;
    font-weight: 600;
    position: sticky !important;
    top: 0 !important;
    height: auto !important;
    z-index: 3;
    text-align: center; }
    body header .navbar {
      padding: 0 15%;
      margin: 0 5%;
      font-weight: 600;
      font-size: 20px;
      background-color: #383737 !important;
      float: center;
      display: flex; }
      body header .navbar .imagenLogo {
        width: 150px;
        height: auto;
        border-radius: 50px;
        display: inline; }
      body header .navbar .nav-link {
        margin: 0 1.6rem; }
        body header .navbar .nav-link:hover {
          display: inline-block;
          animation: fadeOutUp;
          animation-duration: 4s; }
      body header .navbar .seccion--Uno:hover {
        color: #fdf90d !important; }
      body header .navbar .seccion--Dos:hover {
        color: #141274 !important; }
      body header .navbar .seccion--Tres:hover {
        color: #eb0b0b !important; }
      body header .navbar .seccion--Cuatro:hover {
        color: #fdf90d !important; }
      body header .navbar .seccion--Cinco:hover {
        color: #eb0b0b !important; }
  body #bienvenidos {
    margin: 2% 0 !important;
    background: linear-gradient(to right, rgba(94, 90, 90, 0.609), rgba(0, 0, 0, 0)), url(../images/losRoques4.jpg);
    width: 100% !important;
    height: 500px;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; }
  body .primer--Titulo {
    color: black;
    display: block;
    font-size: 4em;
    margin-block-start: 30%;
    margin-block-end: 10%;
    font-weight: bold;
    text-align: center; }
  body .noChavez {
    display: flex !important; }
    body .noChavez .tarjeta--Ensueño {
      margin: 10vh 0 !important;
      width: 490px !important;
      height: 490px !important; }
      body .noChavez .tarjeta--Ensueño .titulo--Ensueño {
        font-weight: 900;
        font-size: 40px;
        text-align: center; }
      body .noChavez .tarjeta--Ensueño .parrafo--Ensueño {
        font-size: 17px;
        text-align: justify;
        word-wrap: break-word;
        overflow: hidden; }
      body .noChavez .tarjeta--Ensueño .imagen--Ensueño {
        height: 80vh;
        width: auto;
        margin: 20vh 10vh; }
  body .d-block {
    width: 100%;
    height: 600px;
    margin: 0; }
  body .tituloCarrusel {
    color: black;
    font-weight: 600; }
  body .parrafoCarrusel {
    color: black;
    font-weight: 600; }
  body .texto--Refran {
    font-weight: 900;
    font-size: 40px;
    margin: 50px 50px;
    text-align: center;
    color: #fdf90d; }
  body .img--Generales {
    margin: 3em 8em;
    display: flex;
    justify-content: space-between; }
    body .img--Generales .img--G {
      margin: 2px;
      border-radius: 25px;
      width: 300px;
      height: 250px; }
  body .caracteristicas--Img {
    width: 300px;
    height: auto;
    margin: 40px 70px; }
  body .texto--Caracteristicas {
    font-size: 600;
    margin: 40px 200px 70px 40px;
    color: #f3f3f3;
    display: inline-block;
    vertical-align: center; }
  body #chavismo {
    margin: 2% 0 !important;
    background: linear-gradient(to right, rgba(134, 131, 131, 0.609), rgba(8, 8, 8, 0)), url(../images/veinte--Chavismo.jpg);
    width: 100%;
    height: 820px;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; }
  body #nuevos--Burgueses {
    margin: 3em 8em;
    display: flex; }
    body #nuevos--Burgueses .burgueses {
      margin: 15px 100px;
      width: 300px;
      height: auto; }
  body .textos--Varios {
    color: #f3f3f3;
    margin: 3em 8em; }
    body .textos--Varios .titulos--Varios {
      font-weight: 900;
      font-size: 40px;
      text-align: center; }
    body .textos--Varios .parrafos--Varios {
      margin: 3em 0;
      font-size: 20px;
      font-weight: 600;
      line-height: 50px;
      word-spacing: 5px;
      text-align: justify; }
      body .textos--Varios .parrafos--Varios .letras--Amarillas {
        color: #fdf90d; }
      body .textos--Varios .parrafos--Varios .letras--Azules {
        color: #141274; }
      body .textos--Varios .parrafos--Varios .letras--Rojas {
        color: #eb0b0b; }
  body .video--Pag {
    text-align: center; }
  body .seccion--Migracion {
    display: flex; }
    body .seccion--Migracion .imgMigracion {
      border-radius: 30%;
      width: 350px;
      height: auto;
      margin: 0 50px; }
  body .venezolanos {
    margin: 3em 8em;
    display: flex;
    justify-content: center; }
    body .venezolanos .venezolanos--R {
      border-radius: 30%;
      margin: 0 50px;
      width: 300px;
      height: auto; }
  body .tarjetaAzul {
    background-color: #141274 !important; }
  body .imgContac {
    width: 550px;
    height: 550px;
    border-radius: 5%; }
  body #contacto {
    text-align: center;
    padding: 10px; }
  body footer {
    font-size: 20px;
    color: #636060;
    text-align: center;
    position: relative; }
    body footer .icon--Redes {
      width: 60px;
      height: 60px;
      color: #f3f3f3; }
    body footer .letras {
      color: #636060;
      font-size: 20px; }
  @media (max-width: 576px) {
    body #bienvenidos #chavismo {
      max-width: 60%;
      overflow: hidden;
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 1;
      order: 1;
      object-fit: cover;
      -o-object-position: center;
      object-position: center; }
      body #bienvenidos #chavismo .tresponsive-Inicio {
        font-size: 100px; }
    body .titulos--Responsive {
      width: 100%;
      position: flex;
      flex-direction: column;
      margin: 2% 25%; }
    body .desparece--Responsive {
      display: none; }
    body .mb-3 {
      margin: 0 50px; }
    body .form-floating {
      margin: 0 50px;
      width: 392px; }
    body .botones {
      margin: 0 0 0 50px; }
    body .imagen--Ensueño {
      display: none; }
    body .tarjeta--Ensueño {
      width: 100% !important;
      height: auto; }
    body .imgContac {
      display: none; }
    body footer {
      text-align: center; } }
