@import "variables/colors";

* {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background-color: $colorUno;


    // estilos menu 
    header {
        margin: 3% 0;
        justify-content: center;
        font-weight: 600;
        position: sticky !important;
        top: 0 !important;
        width: 100% !important;
        height: auto !important;
        z-index: 3;
        text-align: center;

        //    OJO CENTRAR MENU
        .navbar {
            padding: 0 15%;
            margin: 0 5%;
            font-weight: 600;
            font-size: 30px;
            background-color: $colorUno !important;
            float: center;
            display: flex;

            .imagenLogo {
                width: 150px;
                height: auto;
                border-radius: 50px;
                display: inline;
            }

            .nav-link {
                margin: 0 1.6rem;

                &:hover {
                    display: inline-block;
                    animation: heartBeat;
                    animation-duration: 4s;
                }
            }


            .seccion--Uno {
                &:hover {
                    color: $colorDos !important;
                }
            }

            .seccion--Dos {
                &:hover {
                    color: $colorTres !important;
                }
            }

            .seccion--Tres {
                &:hover {
                    color: $colorCuatro !important;
                }
            }

            .seccion--Cuatro {
                &:hover {
                    color: $colorDos !important;
                }
            }

            .seccion--Cinco {
                &:hover {
                    color: $colorCuatro !important;
                }
            }
        }
    }





    //     .menu--Fixed {
    //         position: fixed;
    //         z-index: 1000;
    //         top: 0;
    //         //         width: 100%;
    //         max-width: 2000;
    //     }

    // }

    // .orden {
    //     z-index: 0;
    //     margin: 40px 30px;
    //     display: block;
    // }

    // seccion venezuela// index
    // imagen con transparencia

    #bienvenidos {
        margin: 2% 0 !important;
        background: linear-gradient(to right, rgba(134, 131, 131, 0.609), rgba(8, 8, 8, 0)), url(../images/losRoques4.jpg);
        width: 100%;
        height: 800px;
        background-size: 100% 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;

    }

    // titulo 1
    .primer--Titulo {
        color: $colorUno;
        display: block;
        font-size: 4em;
        margin-block-start: 30%;
        margin-block-end: 0;
        font-weight: bold;
        text-align: center;
    }

    // carrusel 
    // estilos secccion Venezuela
    // carousel Venezuela
    .d-block {
        width: 100%;
        height: 600px;
        margin: 0;
    }

    .tituloCarrusel {
        color: $colorUno;
        font-weight: 600;
    }

    .parrafoCarrusel {
        color: $colorUno;
        font-weight: 600;
    }

    // frase sobre motivante sobre Venezuela 
    .texto--Refran {
        font-weight: 900;
        font-size: 50px;
        margin: 50px 50px;
        text-align: center;
        color: $colorDos;
    }

    // imagenes Vzla
    .vzla--Linda {
        width: 350px;
        height: 200px;

    }

    .posicion {
        margin: 0 !important;
    }

    // posicionamiento
    // .vzla--Lindados{
    //     padding: 0 10%  !important;
    // }
    // texto bondades

    // .text--Vzla {
    //     float: right;


    .texto--Titulo {
        margin: 50px 300px;
        color: $colorCinco;
        font-weight: 600;
        color: $colorTres;
        font-size: 40px;
        display: inline;

    }

    .texto--Parrafo {
        color: $colorCinco;
        line-height: 2em;
    }

    // }
    // Tarjetas
    .card {
        float: left;
        margin: 30px 120px;
    }

    // imagenes con texto alado
    .caracteristicas--Img {
        width: 300px;
        height: auto;
        margin: 40px 70px;
    }

    .texto--Caracteristicas {
        font-size: 600;
        margin: 40px 200px 70px 40px;
        color: $colorCinco;
        display: inline-block;
        vertical-align: center;
    }

    // .caracteristicas--Img2 {
    //     width: 300px;
    //     height: auto;
    //     margin: 40px 800px;

    // }

    // .texto--Caracteristicas2 {
    //     font-size: 600;
    //     margin: 40px 200px 70px 40px;
    //     color: $colorCinco;
    //     display: inline-block;
    //     vertical-align: center;
    //     clear: left;
    // }
    //ESTILOS CHAVISMO
    //  imagenes sobre el chavismo 
    #chavismo {
        margin: 2% 0 !important;
        background: linear-gradient(to right, rgba(134, 131, 131, 0.609), rgba(8, 8, 8, 0)), url(../images/veinte--Chavismo.jpg);
        width: 100%;
        height: 820px;
        background-size: 100% 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;

    }

    #tchavismo--Uno {
        color: $colorCinco;
        margin: 3em 8em;


        .tituloC--Uno {
            font-weight: 900;
            font-size: 80px;
            text-align: center;
        }

        .parrafoC--Uno {
            margin: 2em 0;
            font-size: 30px;
            font-weight: 400;
            line-height: 50px;
            word-spacing: 5px;

            .la--Peste {
                color: $colorDos;
            }

            .corrupccion--Chavista {
                color: $colorCuatro;

            }
        }
    }

    #video--Burgueses {
        text-align: center;
    }

    .pobreza--Vzla {
        margin: 3em 8em;
        display: flex;

        .pobreza--Vzla2 {
            margin: 15px;
            width: 500px;
            height: auto;
        }
    }

    #nuevos--Burgueses {
        margin: 3em 8em;
        display: flex;

        .burgueses {
            margin: 15px 100px;
            width: 700px;
            height: auto;
           
        }
    }



    // .chavismo {
    //     display: flex;
    //     margin: 20px;

    //     .img--chavismoUno {
    //         border-radius: 30%;
    //         height: 400px;
    //         width: 400px;
    //         margin: 0 100px;
    //     }

    //     .img--chavismoDos {
    //         border-radius: 30%;
    //         height: 400px;
    //         width: 400px;
    //         margin: 0 100px;

    //     }
    // }

    // ESTILOS EMIGRACION
    // imagenes de emigracion masiva
    .seccion--Migracion {
        display: flex;

        .imgMigracion {
            border-radius: 30%;
            width: 350px;
            height: auto;
            margin: 0 50px;
        }
    }

    // ESTILOS CONTACT
    // pagina seccion contacto
    .navbar{
        text-align: center;
        margin: 0 400px;
        .mb-3 {
            width: 50% !important;
            height: 70% !important;
        }
    
        .titulo--Form {
            font-weight: 400;
            color: $colorDos;
        }
    
        .form {
            width: 400px !important;
            margin: 0 400px;
        }
    
        .form--Btn {
            margin: 0 400px;
        }
    
    }
   

    // estilos footer
    footer {
        font-size: 20px;
        color: $colorSeis;
        text-align: center;

        #division {
            // border:30px;
            width: 100%;
            color: $colorSeis;
            // padding: 5px 0;
        }
    }
}