@import "variables/colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background-color: $colorSiete;
    width: 100vw !important;
    height: auto;
    // estilos menu 
    header {
        margin: 3% 0;
        justify-content: center;
        font-weight: 600;
        position: sticky !important;
        top: 0 !important;
        height: auto !important;
        z-index: 3;
        text-align: center;

        //    OJO CENTRAR MENU
        .navbar {
            padding: 0 15%;
            margin: 0 5%;
            font-weight: 600;
            font-size: 20px;
            background-color: $colorSiete !important;
            float: center;
            display: flex;

            .imagenLogo {
                width: 150px;
                height: auto;
                border-radius: 50px;
                display: inline;
            }

            .nav-link {
                margin: 0 1.6rem;

                &:hover {
                    display: inline-block;
                    animation: fadeOutUp;
                    animation-duration: 4s;
                }
            }


            .seccion--Uno {
                &:hover {
                    color: $colorDos !important;
                }
            }

            .seccion--Dos {
                &:hover {
                    color: $colorTres !important;
                }
            }

            .seccion--Tres {
                &:hover {
                    color: $colorCuatro !important;
                }
            }

            .seccion--Cuatro {
                &:hover {
                    color: $colorDos !important;
                }
            }

            .seccion--Cinco {
                &:hover {
                    color: $colorCuatro !important;
                }
            }
        }
    }

    // SECCION VENEZUELA 

    // IMAGEN CON TRANSPARENCIA
    #bienvenidos {
        margin: 0 !important;
        background: linear-gradient(to right, rgba(94, 90, 90, 0.609), rgba(0, 0, 0, 0)), url(../images/losRoques4.jpg);
        max-width: 100vw !important;
        height: 90% 90vh;
        background-position: center;
        background-size: cover;
        background-size: 100% 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        overflow-x: hidden;
    }

    // TITULO UNO
    .primer--Titulo {
        color: $colorUno;
        display: block;
        font-size: 4em;
        margin-block-start: 30%;
        margin-block-end: 10%;
        font-weight: bold;
        text-align: center;
    }



    // TARJETA E IMAGEN
    .noChavez {
        display: flex !important;

        .tarjeta--Ensueño {
            margin: 10vh 0 !important;
            width: 490px !important;
            height: 490px !important;


            .titulo--Ensueño {
                font-weight: 900;
                font-size: 40px;
                text-align: center;
            }

            .parrafo--Ensueño {
                font-size: 17px;
                text-align: justify;
                word-wrap: break-word;
                overflow: hidden;
            }

            .imagen--Ensueño {
                height: 80vh;
                width: auto;
                margin: 20vh 10vh;
            }
        }
    }

    // CARRUSEL VENEZUELA
    .d-block {
        width: 100%;
        height: 600px;
        margin: 0;
    }

    .tituloCarrusel {
        color: $colorUno;
        font-weight: 600;
    }

    .parrafoCarrusel {
        color: $colorUno;
        font-weight: 600;
    }

    // FRASE VENEZOLANOS
    .texto--Refran {
        font-weight: 900;
        font-size: 40px;
        margin: 50px 0;
        text-align: center;
        color: $colorDos;
    }

    // ESTILOS IMAGENES GENERALES
    .img--Generales {
        margin: 2em 0;
        display: flex;
         position: relative;
        justify-content: space-evenly;
        left: 8%;
        flex-direction: column;
        flex-wrap: wrap;

        .img--G {
            margin: 0 2px;
            border-radius: 25px;
            width: 300px;
            height: 250px;
        }

        // .posicionUno {
        //     left: 100px !important;
        // }

        // .posicionTres {
        //     right: 100px !important;
        // }
    }

    // imagenes con texto alado
    .caracteristicas--Img {
        width: 300px;
        height: auto;
        margin: 40px 70px;
    }

    .texto--Caracteristicas {
        font-size: 600;
        margin: 40px 200px 70px 40px;
        color: $colorCinco;
        display: inline-block;
        vertical-align: center;
    }

    #chavismo {
        margin: 2% 0 !important;
        background: linear-gradient(to right, rgba(134, 131, 131, 0.609), rgba(8, 8, 8, 0)), url(../images/veinte--Chavismo.jpg);
        width: 100%;
        height: 820px;
        background-size: 100% 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }

    #nuevos--Burgueses {
        margin: 3em 0;
        display: flex;

        .burgueses {
            margin: 15px 100px;
            width: 300px;
            height: auto;

        }
    }

    // ESTILOS TEXTOS GENERALES
    .textos--Varios {
        color: $colorCinco;
        margin: 3em 2em;

        .titulos--Varios {
            font-weight: 900;
            font-size: 40px;
            text-align: center;
        }

        .parrafos--Varios {
            margin: 3em 4em;
            font-size: 20px;
            font-weight: 600;
            line-height: 50px;
            word-spacing: 5px;
            text-align: justify;


            .letras--Amarillas {
                color: $colorDos;
            }

            .letras--Azules {
                color: $colorTres;
            }

            .letras--Rojas {
                color: $colorCuatro;

            }
        }
    }

    // ESTILOS VIDEOS
    .video--Pag {
        text-align: center;
    }

    // ESTILOS EMIGRACION
    // imagenes de emigracion masiva
    .seccion--Migracion {
        display: flex;

        .imgMigracion {
            border-radius: 30%;
            width: 350px;
            height: auto;
            margin: 0 50px;
        }
    }


    // SECCION HISTORIA
    .venezolanos {
        margin: 3em 0;
        display: flex;
        justify-content: center;


        .venezolanos--R {
            border-radius: 30%;
            margin: 0 50px;
            width: 300px;
            height: auto;
        }
    }

    .tarjetaAzul {
        background-color: $colorTres !important;
    }

    .imgContac {
        width: 550px;
        height: 550px;
        border-radius: 5%;
    }

    #contacto {
        text-align: center;
        padding: 10px;
    }



    // estilos footer
    footer {
        font-size: 20px;
        color: $colorSeis;
        text-align: center;
        position: relative;

        .icon--Redes {
            width: 60px;
            height: 60px;
            color: $colorCinco;
        }

        .letras {
            color: $colorSeis;
            font-size: 20px;
        }
    }

    @media (max-width: 576px) {

        // Responsive INDEX
        #bienvenidos #chavismo {
            max-width: 100vw;
            overflow-x: hidden;
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 1;
            order: 1;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;

            .tresponsive-Inicio {
                position: absolute;
                top: 50%;
                left: 10%;
                color: white;
                text-align: center;
            }

        }
        .card--Responsive{
            margin: 0 5% !important;
        }
        .img--Res {
            width: 55vw;
            display: flex;
            flex-direction: column;
            left: 20%;
            // -webkit-text-size-adjust: 0;
            // --bs-gutter-x: 0;
            // -webkit-tap-highlight-color: none;
        }
        .img--ResDos{
            margin: 5% 0;
        }
        .texto--Responsive {
            max-width: 100vw;
           margin: 0 !important;
        }
       
        .titulos--Responsive {
            width: 100%;
            position: flex;
            flex-direction: column;
            margin: 2% 25%;
        }

        .desparece--Responsive {
            display: none;
        }


        .mb-3 {
            margin: 0 50px;
        }

        .form-floating {
            margin: 0 50px;
            width: 392px;
        }

        .botones {
            margin: 0 0 0 50px;
        }

        .imagen--Ensueño {
            display: none;
        }

        .tarjeta--Ensueño {
            width: 100% !important;
            height: auto;
        }

        .imgContac {
            display: none;
        }

        footer {
            text-align: center;

        }
    }
    .ancho-80 {
        width: 70vw;
        margin: 0 !important;

    }
    @media (max-width: 360px) {
        #bienvenidos {
            max-width: 100vw;
            height: 100% 100vh;
            background-position: center;
            background-size: cover;
            background-size: 100% 100vh;
            background-attachment: fixed;
            background-repeat: no-repeat;
            position: relative;
            overflow-x: hidden;

            .tresponsive-Inicio {
                font-size: 200%;
            }
        }

        .card--Responsive {
            width: 50vw !important;
            height: auto;
        }

        .carrusel--Venezuela {
            display: none;
        }

        .texto--Responsive {
            margin-left: 2%;
            margin-right: 2%;
        }
    }

}