@import "variables/colors";

* {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background-color: $colorSiete;
    width: 100%;


    // estilos menu 
    header {
        margin: 3% 0;
        justify-content: center;
        font-weight: 600;
        position: sticky !important;
        top: 0 !important;

        height: auto !important;
        z-index: 3;
        text-align: center;

        //    OJO CENTRAR MENU
        .navbar {
            padding: 0 15%;
            margin: 0 5%;
            font-weight: 600;
            font-size: 20px;
            background-color: $colorSiete !important;
            float: center;
            display: flex;

            .imagenLogo {
                width: 150px;
                height: auto;
                border-radius: 50px;
                display: inline;
            }

            .nav-link {
                margin: 0 1.6rem;

                &:hover {
                    display: inline-block;
                    animation: heartBeat;
                    animation-duration: 4s;
                }
            }


            .seccion--Uno {
                &:hover {
                    color: $colorDos !important;
                }
            }

            .seccion--Dos {
                &:hover {
                    color: $colorTres !important;
                }
            }

            .seccion--Tres {
                &:hover {
                    color: $colorCuatro !important;
                }
            }

            .seccion--Cuatro {
                &:hover {
                    color: $colorDos !important;
                }
            }

            .seccion--Cinco {
                &:hover {
                    color: $colorCuatro !important;
                }
            }
        }
    }

    //     .menu--Fixed {
    //         position: fixed;
    //         z-index: 1000;
    //         top: 0;
    //         //         width: 100%;
    //         max-width: 2000;
    //     }

    // }

    // .orden {
    //     z-index: 0;
    //     margin: 40px 30px;
    //     display: block;
    // }

    // SECCION VENEZUELA 

    // IMAGEN CON TRANSPARENCIA
    #bienvenidos {
        margin: 2% 0 !important;
        background: linear-gradient(to right, rgba(94, 90, 90, 0.609), rgba(0, 0, 0, 0)), url(../images/losRoques4.jpg);
        width: 100% !important;
        height: 500px;
        background-size: 100% 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }

    // TITULO UNO
    .primer--Titulo {
        color: $colorUno;
        display: block;
        font-size: 4em;
        margin-block-start: 25%;
        margin-block-end: 10%;
        font-weight: bold;
        text-align: center;
    }

    // TARJETA E IMAGEN
    .noChavez {
        display: flex !important;

        .tarjeta--Ensueño {
            margin: 10vh 0 !important;
            width: 490px !important;
            height: 490px !important;


            .titulo--Ensueño {
                font-weight: 900;
                font-size: 40px;
                text-align: center;
            }

            .parrafo--Ensueño {
                font-size: 17px;
                text-align: justify;
                word-wrap: break-word;
                overflow: hidden;
            }

            .imagen--Ensueño {
                height: 80vh;
                width: auto;
                margin: 20vh 10vh;
            }
        }
    }

    // CARRUSEL VENEZUELA
    .d-block {
        width: 100%;
        height: 600px;
        margin: 0;
    }

    .tituloCarrusel {
        color: $colorUno;
        font-weight: 600;
    }

    .parrafoCarrusel {
        color: $colorUno;
        font-weight: 600;
    }

    //  TARJETAS 

    // .tarjetas--Turismo {
    //     display: flex !important;

    //     .imagen--Turismo {
    //         width: auto !important;
    //         height: 200vh !important;
    //         margin: 0 !important;
    //     }
    // }

    // FRASE VENEZOLANOS
    .texto--Refran {
        font-weight: 900;
        font-size: 40px;
        margin: 50px 50px;
        text-align: center;
        color: $colorDos;
    }

    // ESTILOS IMAGENES GENERALES
    .img--Generales {
        margin: 3em 8em;
        display: flex;


        .img--G {
            border-radius: 25px;
            margin: 15px 30px;
            width: 300px;
            height: auto;
        }
    }

    // imagenes Vzla
    // .vzla--Linda {
    //     width: 350px;
    //     height: 200px;

    // }

    // .posicion {
    //     margin: 0 !important;
    // }

    // posicionamiento
    // .vzla--Lindados{
    //     padding: 0 10%  !important;
    // }
    // texto bondades

    // .text--Vzla {
    //     float: right;


    // .texto--Titulo {
    //     margin: 50px 300px;
    //     color: $colorCinco;
    //     font-weight: 600;
    //     color: $colorTres;
    //     font-size: 40px;
    //     display: inline;

    // }

    // .texto--Parrafo {
    //     color: $colorCinco;
    //     line-height: 2em;
    // }

    // }
    // Tarjetas
    // .card {
    //     float: left;
    //     margin: 30px 120px;
    // }

    // imagenes con texto alado
    .caracteristicas--Img {
        width: 300px;
        height: auto;
        margin: 40px 70px;
    }

    .texto--Caracteristicas {
        font-size: 600;
        margin: 40px 200px 70px 40px;
        color: $colorCinco;
        display: inline-block;
        vertical-align: center;
    }

    // .caracteristicas--Img2 {
    //     width: 300px;
    //     height: auto;
    //     margin: 40px 800px;

    // }

    // .texto--Caracteristicas2 {
    //     font-size: 600;
    //     margin: 40px 200px 70px 40px;
    //     color: $colorCinco;
    //     display: inline-block;
    //     vertical-align: center;
    //     clear: left;
    // }
    //ESTILOS CHAVISMO

    // Definicion del fondo chavismo

    //  imagenes sobre el chavismo 
    // #fondo--Chavismo {
    // background-color: $colorOcho; OJO COLOR ATRACTIVO
    // }

    #chavismo {
        margin: 2% 0 !important;
        background: linear-gradient(to right, rgba(134, 131, 131, 0.609), rgba(8, 8, 8, 0)), url(../images/veinte--Chavismo.jpg);
        width: 100%;
        height: 820px;
        background-size: 100% 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }

    #nuevos--Burgueses {
        margin: 3em 8em;
        display: flex;

        .burgueses {
            margin: 15px 100px;
            width: 300px;
            height: auto;

        }
    }

    // ESTILOS TEXTOS GENERALES
    .textos--Varios {
        color: $colorCinco;
        margin: 3em 8em;


        .titulos--Varios {
            font-weight: 900;
            font-size: 40px;
            text-align: center;
        }

        .parrafos--Varios {
            margin: 3em 0;
            font-size: 20px;
            font-weight: 600;
            line-height: 50px;
            word-spacing: 5px;
            text-align: justify;


            .letras--Amarillas {
                color: $colorDos;
            }

            .letras--Azules {
                color: $colorTres;
            }

            .letras--Rojas {
                color: $colorCuatro;

            }
        }
    }

    // ESTILOS VIDEOS
    .video--Pag {
        text-align: center;
    }

    // .chavismo {
    //     display: flex;
    //     margin: 20px;

    //     .img--chavismoUno {
    //         border-radius: 30%;
    //         height: 400px;
    //         width: 400px;
    //         margin: 0 100px;
    //     }

    //     .img--chavismoDos {
    //         border-radius: 30%;
    //         height: 400px;
    //         width: 400px;
    //         margin: 0 100px;

    //     }
    // }

    // ESTILOS EMIGRACION
    // imagenes de emigracion masiva
    .seccion--Migracion {
        display: flex;

        .imgMigracion {
            border-radius: 30%;
            width: 350px;
            height: auto;
            margin: 0 50px;
        }
    }


    // SECCION HISTORIA
    .venezolanos {
        margin: 3em 8em;
        display: flex;
        justify-content: center;


        .venezolanos--R {
            border-radius: 30%;
            margin: 0 50px;
            width: 300px;
            height: auto;
        }
    }

    // ESTILOS CONTACT
    // // pagina seccion contacto

    // .contacto {
    //     display: flex !important;
    //     position: relative;

    //     .posicionUno {
    //         float: left;
    //         width: 50%;
    //         height: auto;
    //     }

    //     .posicionDos {
    //         float: right;
    //     }
    // }




    // .imgContac {

    // }

    .form--Contac {
        float: right !important;
    }



    .mb-3 {
        width: 50% !important;
        height: 70% !important;
    }

    .titulo--Form {
        font-weight: 400;
        color: $colorDos;
    }

    .form {
        width: 400px !important;
        margin: 0 400px;
    }

    .form--Btn {
        margin: 0 400px;
    }

    .botones {
        display: flex;
    }




    // estilos footer
    footer {
        font-size: 20px;
        color: $colorSeis;
        text-align: center;

        #division {
            // border:30px;
            width: 100%;
            color: $colorSeis;
            // padding: 5px 0;
        }
    }
}

// @media screen and (max-width: 576px) and (min-width: 480px) {
//     body {
//         margin: 1px;
//         max-width: 576px;

//         .pobreza--Vzla2 {
//             width: 40%;
//         }
//     }
// }
@media (max-width: 576px) {
    .padre--responsive {
        width: 100%;
        position: flex;
        flex-direction: column;
        margin: 2% 25%;
    }

    .mb-3 {
        margin: 0 50px;
    }

    .form-floating {
        margin: 0 50px;
    }

    .btn--Uno {
        margin: 0 50px;
    }

    .btn--Dos {
        margin: 0 20px;
    }

    .imagen--Ensueño {
        display: none;
    }

    .tarjeta--Ensueño {
        width: 100% !important;
        height: auto;
    }
}