$colorUno: rgb(0, 0, 0);
$colorDos:  rgb(253, 249, 13);
$colorTres: rgb(20, 18, 116);
$colorCuatro: rgb(235, 11, 11);
$colorCinco:  rgb(3, 3, 3);
$colorSeis:  rgb(94, 91, 91);
$colorSiete:  rgb(109, 104, 104);
$colorOcho:  rgb(34, 33, 33);

