$colorUno: rgb(0, 0, 0);
$colorDos:  rgb(253, 249, 13);
$colorTres: rgb(17, 13, 253);
$colorCuatro: rgb(235, 11, 11);
$colorCinco:  rgb(243, 243, 243);
$colorSeis:  rgb(99, 96, 96);
$colorSiete:  rgb(56, 55, 55);
$colorOcho:  rgb(34, 33, 33);

